
<div class="main-login">
    
   <span class="login-title">Regisztráció</span>

   <form class="login-form" [formGroup]="signInForm">
    <mat-form-field class="input-full-width">
        <mat-label>Email</mat-label>
        <input 
        type="email" 
        matInput 
        formControlName ="email" 
        placeholder="felhasznalo@gmail.com">
        <mat-error *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.hasError('email')">Írj be egy érvényes email címet</mat-error>
        <mat-error *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.hasError('required')">Email megadása <strong>kötelező</strong></mat-error>
      </mat-form-field>
      <br> 
      <mat-form-field class="input-full-width">
        <mat-label>Jelszó</mat-label>
        <input 
        formControlName ="password" 
        matInput [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="signInForm.get('password')?.touched && signInForm.get('password')?.hasError('required')">Jelszó megadása <strong>kötelező</strong></mat-error>
      </mat-form-field>
      <button mat-flat-button (click)="registerUser()">Regisztráció</button>
      <div class="redirect-to-register">
        <span>Van már fiókod?
             <span (click)="redirectTo('Login')" class="register-link">Jelentkezz</span>
             be.
        </span>
      </div>
</form>
   
</div>