<div class="main-login">
  
  <span class="login-title">Új kártya</span>

  <form class="login-form" [formGroup]="createCardForm">

    <mat-form-field class="input-full-width">
        <mat-label>Magyar</mat-label>
        <input 
        type="text" 
        matInput 
        formControlName ="magyar" 
        placeholder="Kiscica">
        <mat-error *ngIf="createCardForm.get('magyar')?.touched && createCardForm.get('magyar')?.hasError('required')">Ez a mező <strong>kötelező</strong></mat-error>
      </mat-form-field>

      <br> 

      <mat-form-field class="input-full-width">
      <mat-label>Német</mat-label>
      <input 
      type="text" 
      matInput 
      formControlName ="nemet" 
      placeholder="panzerkampfwagen">
      <mat-error *ngIf="createCardForm.get('nemet')?.touched && createCardForm.get('nemet')?.hasError('required')">Ez a mező <strong>kötelező</strong></mat-error>
    </mat-form-field>

    <br> 

    <mat-form-field class="input-full-width">
      <mat-label>Kategória</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories; trackBy: trackByCategory" [value]="category.value">
          {{ category.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="createCardForm.get('category')?.touched && createCardForm.get('category')?.hasError('required')">Ez a mező <strong>kötelező</strong></mat-error>
    </mat-form-field>

    <br> 
    <button mat-raised-button (click)="securityCheckPOST()">Mehet!</button>
  </form>
</div>